<div class="tagbox">
  <div
    class="tag-item"
    [class.cursor-pointer]="item.url"
    *ngFor="let item of data"
    [style]="'background-color: ' + (tagMap[item.id] && tagMap[item.id].color)"
    (click)="jumpService.goUrl($event, item.url)"
  >
    {{ tagMap[item.id] && tagMap[item.id].name }}
  </div>

  <ng-container *ngIf="action && isLogin">
    <div
      class="tag-item cursor-pointer tag-action"
      style="background-color: #1f883d"
      (click)="openEditWebMoal($event)"
      nz-icon
      nzType="edit"
      nzTheme="outline"
    ></div>
    <div
      class="tag-item cursor-pointer tag-action"
      style="background-color: #108ee9"
      (click)="openMoveWebModal($event)"
      nz-icon
      nzType="swap"
      nzTheme="outline"
    ></div>
    <div
      class="tag-item cursor-pointer tag-action"
      style="background-color: red"
      nz-icon
      nzType="delete"
      nzTheme="outline"
      nz-popconfirm
      nzPopconfirmPlacement="rightTop"
      nzOkType="danger"
      [nzPopconfirmTitle]="$t('_confirmDel')"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="confirmDel()"
      (click)="handleClick($event)"
    ></div>
  </ng-container>
</div>
