<div
  class="container"
  nz-dropdown
  [nzDropdownMenu]="menu"
  [nzDisabled]="(!isEditing.value || hasKeyword())"
  [nzClickHide]="false"
>
  <ng-content></ng-content>

  <div *ngIf="getEditType() === EditType.isWebsite" class="icon-wrapper">
    <div nz-tooltip [nzTooltipTitle]="copyPathDone ? '复制成功' : '分享网站'">
      <i
        class="iconfont"
        [class.iconweibiaoti14]="copyPathDone"
        [class.iconfenxiang]="!copyPathDone"
        (click)="copyUrl($event, 1)"
        (mouseout)="copyMouseout()"
      >
      </i>
    </div>
    <div nz-tooltip [nzTooltipTitle]="copyUrlDone ? '复制成功' : '复制链接'">
      <i
        class="iconfont copy"
        [class.iconweibiaoti14]="copyUrlDone"
        [class.iconcopy]="!copyUrlDone"
        (click)="copyUrl($event, 2)"
        (mouseout)="copyMouseout()"
      >
      </i>
    </div>
  </div>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="clickEdit()">编辑</li>
    <a
      *ngIf="isLogin"
      nz-popconfirm
      nzPopconfirmPlacement="rightTop"
      nzOkType="danger"
      nzPopconfirmTitle="您确定要删除吗?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="confirmDel($event)"
    >
      <li nz-menu-item nzDanger>删除</li>
    </a>
  </ul>
</nz-dropdown-menu>


<nz-modal
  [(nzVisible)]="showModal"
  nzTitle="修改"
  (nzOnCancel)="toggleModal()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="handleOk()">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>{{ getEditType() === EditType.isWebsite ? '网站名称' : '分类名称'}}</nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="请输入名称">
          <input formControlName="title" nz-input placeholder="发现导航" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="getEditType() === EditType.isWebsite">
        <nz-form-label [nzSpan]="4" nzRequired>网站链接</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <input formControlName="url" nz-input placeholder="https://nav3.cn" (blur)="onUrlBlur($event)" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">图标地址</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <nz-input-group [nzPrefix]="prefixIcon">
            <input formControlName="icon" nz-input placeholder="https://example.com/favicon.png" (blur)="onIconBlur($event)" />
          </nz-input-group>

          <ng-template #prefixIcon>
            <app-logo [src]="iconUrl" [size]="25" *ngIf="iconUrl"></app-logo>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="getEditType() === EditType.isWebsite">
        <nz-form-label [nzSpan]="4">网站描述</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <input formControlName="desc" nz-input placeholder="发现导航, 精选实用导航网站" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
