<div class="index-wrapper">
  <main class="homepage container">
    <div
      class="fixed-collapse"
      (click)="onCollapseAll()"
      [class.active]="websiteList[page].nav[id].collapsed"
    >
      <i class="iconfont iconweibiaoti25"></i>
    </div>

    <nav class="top-nav user-select-none">
      <a 
        *ngFor="let item of websiteList; let i = index;" 
        (click)="handleCilckTopNav(i)" 
        [class.active]="page === i" 
        class="ripple-btn"
      >
        {{ item.title }}
      </a>
    </nav>

    <section class="index-section user-select-none">
      <aside class="sidebar" id="sidebar">
        <ul>
          <li 
            class="tag" 
            *ngFor="let item of websiteList[page].nav; let i = index" 
            [class.active]="id === i" 
            (click)="handleSidebarNav(i)"
          >
            <a class="ripple-btn" *ngIf="item.title">{{ item.title }}</a>
          </li>
        </ul>
      </aside>

      <div class="main">
        <app-search-engine (onSearch)="onSearch($event)"></app-search-engine>
 
        <ul *ngIf="currentList.length && currentList[0].nav">
          <li *ngFor="let item of currentList; let i=index">
            <div class="title-wrapper" *ngIf="item.title">
              <h2 class="block-title">
                <span
                  (click)="onCollapse(item, i)"
                  class="cursor-pointer"
                >
                  {{ item.title }} x {{ item.nav.length }}
                </span>

                <i
                  class="iconfont iconjiantouarrow483 down-arrow"
                  [class.active]="item.collapsed"
                  (click)="onCollapse(item, i)"
                >
                </i>
              </h2>

              <img
                *ngIf="item.icon && item.showSideIcon !== false"
                [src]="item.icon"
                class="side-logo"
                (error)="onSideLogoError($event)"
              />
            </div>

            <div class="row" *ngIf="!item.collapsed">
              <div class="click-btn" *ngFor="let el of item.nav">
                <a [href]="el.url" target="_blank" rel="noopener noreferer">
                  <div class="top">
                    <img
                      *ngIf="el.icon || item.icon || websiteList[page].nav[id].icon; else icon"
                      [src]="el.icon || item.icon || websiteList[page].nav[id].icon"
                      class="icon"
                      (error)="onImgError($event)"
                    >
                    <em class="name" [innerHtml]="el.name"></em>
                  </div>
                  <div class="desc" [innerHtml]="el.desc"></div>
                </a>

                <div class="mark" *ngIf="el.language && el.language.length > 0">
                  <div class="button-box">
                    <a 
                      [href]="el.language[0]" 
                      class="zh" 
                      target="_blank" 
                      *ngIf="el.language[0]" 
                      rel="noopener noreferer"
                    >
                      {{ language[0] }}
                    </a>
                    <a 
                      [href]="el.language[1]" 
                      class="zh" 
                      target="_blank" 
                      *ngIf="el.language[1]" 
                      rel="noopener noreferer"
                    >
                      {{ language[1] }}
                    </a>
                    <a 
                      [href]="el.language[2]" 
                      class="zh" 
                      target="_blank" 
                      *ngIf="el.language[2]" 
                      rel="noopener noreferer"
                    >
                      {{ language[2] }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
  
        <app-no-data
          *ngIf="currentList.length && currentList[0].nav && !currentList[0].nav.length"
        >
        </app-no-data>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>
