.layer-bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 15px;
}

.homepage {
  width: 1000px;
  margin: 0 auto;
  flex: 1;
  position: relative;
  background: rgb(251, 251, 251);
  border-radius: 5px;
  overflow: hidden;
  transition: .1s linear;
  border: 1px solid transparent;

  .top-nav {
    padding: 10px;
    overflow: none;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    text-align: center;

    a {
      display: inline-block;
      padding: 10px 15px;
      color: #000;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.index-section {
  position: relative;
  height: calc(100% - 52px);
  overflow: hidden;

  // 侧边栏分类
  $sidebarWidth: 80px;
  .sidebar {
    position: relative;
    width: $sidebarWidth;
    height: 100%;
    text-align: center;
    border-right: 1px solid #eee;

    .tag {
      position: relative;
      cursor: pointer;

      &.active {
        color: #1890ff;

        div:after {
          top: 0;
          border-top: 1px dashed #ccc;
        }

        div:before {
          bottom: 0;
          border-bottom: 1px dashed #ccc;
        }
      }

      div {
        display: block;
        padding: 11px 0;

        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
        }
      }
    }
  }

  .main {
    width: calc(100% - #{$sidebarWidth});
    position: absolute;
    top: 0;
    left: $sidebarWidth;
    bottom: 30px;
    padding-bottom: 50px;
    overflow: hidden;
    overflow-y: auto;
  }
}
