.layer-bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 15px;
}

.homepage {
  width: 1000px;
  margin: 0 auto;
  flex: 1;
  position: relative;
  background: rgb(251, 251, 251);
  border-radius: 5px;
  overflow: hidden;
  transition: .1s linear;
  border: 1px solid transparent;

  .top-nav {
    padding: 10px;
    overflow: none;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    text-align: center;

    a {
      display: inline-block;
      padding: 10px 15px;
      color: #000;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.index-section {
  position: relative;
  height: calc(100% - 52px);
  overflow: hidden;

  // 侧边栏分类
  $sidebarWidth: 80px;
  .sidebar {
    position: relative;
    width: $sidebarWidth;
    height: 100%;
    text-align: center;
    border-right: 1px solid #eee;

    .tag {
      position: relative;
      cursor: pointer;

      &.active {
        color: #1890ff;

        a:after {
          top: 0;
          border-top: 1px dashed #ccc;
        }

        a:before {
          bottom: 0;
          border-bottom: 1px dashed #ccc;
        }
      }

      a {
        display: block;
        padding: 11px 0;

        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
        }
      }
    }
  }

  .main {
    position: absolute;
    top: 0;
    left: $sidebarWidth;
    right: 0;
    bottom: 30px;
    padding-bottom: 50px;
    overflow-y: auto;

    .side-logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      vertical-align: middle;
      border-radius: 50%;
      pointer-events: none;
      border: 1px solid #eee;
      background-color: #fff;
    }

    .name {
      display: inline-block;
      font-size: 15px;
      margin-left: 5px;
      width: calc(100% - 50px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .desc {
      padding: 5px 10px 5px 10px;
      border-top: 1px solid #eee;
      margin-top: 8px;
      word-break: break-all;
      word-wrap: break-word;
      font-size: 12px;
    }

    .title-wrapper {
      border-bottom: 1px solid #ccc;
      padding: 10px 30px 10px 15px;
      display: flex;
      justify-content: space-between;
    }

    .block-title {
      display: inline-block;
      position: relative;
      color: #3F51B5;
      align-self: center;
      display: flex;
    }

    .top {
      padding: 10px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    transition: .1s ease-out;
    overflow: hidden;

    a {
      color: #333;

      &:hover {
        text-decoration: none;
      }
    }

    .click-btn {
      z-index: 1111;
      position: relative;
      width: 200px;
      margin: 12px;
      border: 1px solid #eee;
      overflow: hidden;

      &:hover {

        ::ng-deep .mark {
          bottom: 0 !important;
        }
      }
    }
  }
}
