<div class="index-wrapper">
  <main class="homepage dark-border-color">
    <app-fixbar
      (onCollapse)="onCollapseAll()"
      [collapsed]="websiteList[page].nav[id].collapsed"
      selector=".main"
      [randomBg]="true"
    >
    </app-fixbar>

    <nav class="top-nav user-select-none dark-border-color dark-bg">
      <a 
        *ngFor="let item of websiteList; let i = index;" 
        (click)="handleCilckTopNav(i)" 
        [class.active]="page === i" 
        [class.dark-text-active]="page === i" 
        class="ripple-btn dark-text"
      >
        {{ item.title }}
      </a>
    </nav>

    <section class="index-section user-select-none dark-bg">
      <aside class="sidebar dark-bg dark-border-color" id="sidebar">
        <ul>
          <li 
            class="tag dark-text" 
            [class.active]="id === i" 
            [class.dark-item-active]="id === i" 
            (click)="handleSidebarNav(i)"
            *ngFor="let item of websiteList[page].nav; let i = index" 
          >
            <a class="ripple-btn" *ngIf="item.title">{{ item.title }}</a>
          </li>
        </ul>
      </aside>

      <div class="main dark-scrollbar">
        <app-search-engine (onSearch)="onSearch($event)"></app-search-engine>
 
        <ul *ngIf="currentList.length && currentList[0].nav">
          <li *ngFor="let item of currentList; let i=index">
            <div class="title-wrapper dark-border-color" *ngIf="item.title">
              <h2 class="block-title">
                <span
                  (click)="onCollapse(item, i)"
                  class="cursor-pointer dark-primary"
                >
                  {{ item.title }} x {{ item.nav.length }}
                </span>

                <i
                  class="iconfont iconjiantouarrow483 down-arrow"
                  [class.active]="item.collapsed"
                  (click)="onCollapse(item, i)"
                >
                </i>
              </h2>

              <img
                *ngIf="item.icon && item.showSideIcon !== false"
                [src]="item.icon"
                class="side-logo"
                (error)="onSideLogoError($event)"
              />
            </div>

            <div class="row" *ngIf="!item.collapsed">
              <div class="click-btn dark-border-color" *ngFor="let el of item.nav">
                <a [href]="el.url" target="_blank" rel="noopener noreferer">
                  <div class="top">
                    <img
                      *ngIf="el.icon || item.icon || websiteList[page].nav[id].icon; else icon"
                      [src]="el.icon || item.icon || websiteList[page].nav[id].icon"
                      class="icon dark-border-color"
                      (error)="onImgError($event)"
                    >
                    <em class="name dark-title" [innerHtml]="el.name" [title]="el.name"></em>
                  </div>
                  <div class="desc dark-border-color dark-text" [innerHtml]="el.desc"></div>
                </a>

                <app-multiple-site [dataSource]="el"></app-multiple-site>
              </div>
            </div>
          </li>
        </ul>
  
        <app-no-data
          *ngIf="currentList.length && currentList[0].nav && !currentList[0].nav.length"
        >
        </app-no-data>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>

<div class="layer-bg dark-bg"></div>
