.add-btn {
  margin-bottom: 20px;
  margin-right: 20px;
}
.poster {
  width: 1000px;
  max-width: 100%;
  border-radius: 12px;
}
.desc {
  width: 300px;
  white-space: pre-wrap;
}
.ant-table-wrapper {
  overflow: auto;
}
