.admin {
  padding: 50px;
}

.content {
  position: relative;

  .logo-wrapper {
    position: absolute;
    top: -45px;
    left: 580px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    text-align: center;

    .logo {
      width: 100px;
      height: 100px;
      border: 1px solid #f2f2f2;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .book-wrapper {
    position: absolute;
    top: -45px;
    left: 830px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    text-align: center;

    .logo {
      width: 100px;
      height: 100px;
      cursor: pointer;
    }
  }

  input[type="file"] {
    display: none;
  }
}

.desc {
  width: 300px;
  white-space: pre-wrap;
  word-break: break-all;
}
