<div class="sim">
  <nz-spin
    nzSimple
    *ngIf="commonService.sliceMax === 0"
    class="position-center mt10"
  />

  <div
    class="wallpaper"
    *ngIf="commonService.settings.simThemeImages.length > 0"
    [class.bootstrap]="commonService.settings.simThemeHeight < 260"
  >
    <app-swiper
      [images]="commonService.settings.simThemeImages"
      [autoplay]="commonService.settings.simThemeAutoplay"
      [height]="commonService.settings.simThemeHeight"
    />
    <div class="bar">
      <h1 class="title dark-white">
        {{ commonService.settings.simTitle || commonService.settings.title }}
      </h1>
      <pre
        class="description dark-white"
        [innerHTML]="description | safeHtml"
      ></pre>
    </div>
  </div>

  <app-search-engine class="hidden search-sm" />

  <nav class="top-nav dark-border-color dark-scrollbar dark-bg">
    <span
      *ngFor="
        let item of commonService.websiteList.slice(0, commonService.overIndex);
        let i = index;
        trackBy: commonService.trackByItem
      "
      [class.active]="commonService.page === i"
      [class.dark-text-active]="commonService.page === i"
      class="over-item dark-text"
      (click)="commonService.handleCilckTopNav(i)"
    >
      {{ item.title }}
    </span>
    <!-- More -->
    <app-web-more-menu
      *ngIf="commonService.overIndex < commonService.websiteList.length"
      [data]="commonService.websiteList.slice(commonService.overIndex, 99999)"
      [index]="commonService.overIndex"
      [page]="commonService.page"
      (onClick)="commonService.handleCilckTopNav($event)"
    />
  </nav>

  <div class="wrapper">
    <nav
      class="sidebar dark-bg"
      id="sidebar"
      *ngIf="commonService.websiteList[commonService.page]?.nav?.length"
    >
      <div
        *ngFor="
          let item of commonService.websiteList[commonService.page].nav;
          let i = index;
          trackBy: commonService.trackByItem
        "
        (click)="commonService.handleSidebarNav(i)"
        [class.active]="commonService.id === i"
        [class.dark-item-active]="commonService.id === i"
        class="ripple-btn dark-text dark-hover"
      >
        {{ item.title }}
      </div>
    </nav>

    <aside class="site-box dark-bg">
      <app-search-engine class="max768none" />

      <div *ngIf="commonService.currentList.length > 0; else noData">
        <div
          *ngFor="
            let item of commonService.currentList.slice(
              0,
              commonService.sliceMax
            );
            let i = index;
            trackBy: commonService.trackByItem
          "
        >
          <div class="nav-wrapper">
            <app-toolbar-title
              [dataSource]="item"
              (onCollapse)="commonService.onCollapse(item, i)"
              [index]="i"
            ></app-toolbar-title>

            <div
              nz-row
              [nzGutter]="[16, 16]"
              [style.display]="item.collapsed ? 'none' : ''"
            >
              <div
                class="gutter-row"
                nz-col
                [nzSpan]="8"
                [nzSm]="12"
                [nzMd]="12"
                [nzLg]="8"
                [nzXs]="24"
                *ngFor="
                  let el of item.nav;
                  index as j;
                  trackBy: commonService.trackByItemWeb
                "
              >
                <app-card
                  [cardStyle]="commonService.settings.simCardStyle"
                  [dataSource]="el"
                  [indexs]="[commonService.page, commonService.id, i, j]"
                  [searchKeyword]="commonService.searchKeyword"
                  class="column-border"
                ></app-card>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noData>
        <app-no-data></app-no-data>
      </ng-template>
    </aside>
  </div>
</div>

<app-footer
  className="sim-footer"
  [content]="commonService.settings.simFooterHTML"
></app-footer>
<app-fixbar
  (onCollapse)="commonService.onCollapseAll()"
  [collapsed]="commonService.collapsed"
>
</app-fixbar>

<div class="sim-bg dark-bg"></div>
