<!DOCTYPE html>
<!--
                              _.._        ,++++++++++++.
                           ,'      `.    ( We want you! )
                          /  __) __` \    `-,+++++++++++'
                         (  (`-`(-')  ) _.-'
                         /)  \  = /  (
                        /'    |++' .  \
                       (  ,+++|  `-.)__`
                        )(  `-.,++'   _`-.
                       '/,'          (  Uu",
                        (_       ,    `/,-' )
                        `.__,  : `-'/  /`++'
                          |     `++'  |
                          `   `-._   /
                           \        (
                           /\ .      \. 
                          / |` \     ,-\
                         /  \| .)   /   \
                        ( ,'|\    ,'     :
                        | \,`.`++"/      }
                        `,'    \  |,'    /
                       / "-._   `-/      |
                       "-.   "-.,'|     ;
                      /        _/["+++'""]
                     :        /  |"-     '
                     '           |      /
                                 `      |
-->
<html ng-app="xiejiahe">
<head>
	<title>发现导航 - 新世界</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="author" content="https://github.com/xjh22222228">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta name="description" content="爱分享，爱创造，一个资源难寻的导航网站，应有尽有的干货都在这里。">
	<meta name="keywords" content="导航,前端资源,社区站点,设计师,实用工具,学习资源,运营">
	<link rel="icon" href="./favicon.png" type="image/x-icon">
	<link rel ="apple-touch-icon" href="./favicon.png">
	<link rel="stylesheet" href="./css/style.css">
	<script>
		(function(){try {var b = navigator.appName,v = navigator.appVersion,vp = v.split(";"),t_v = vp[1].replace(/[ ]/g, ""),tvt = t_v.substr(4);if(b == "Microsoft Internet Explorer" && tvt <= 9){alert('当前浏览器存在安全隐患');}}catch(e){}})();
	</script>
</head>
<body data-latest-update-time="2018-05-15"> 
<div id="xiejiahe" ng-controller="controller" ng-cloak="https://github.com/xjh22222228">
	<img src="./icon/top.svg" alt="top" class="scroll-top">
	<aside class="sidebar user-select-none">
		<div class="logo">
			<a href="https://github.com/xjh22222228/nav" target="_blank">
				<img src="./favicon.png" alt="logo" class="logo">
			</a>
		</div>
		<nav class="nav">
			<div class="nav-title" ng-repeat="item in nav track by $index">
				<a ng-attr-href="{{ item.hash }}" ng-class="{active: item.hash == hash}" ng-click="hashButton(item.hash)">{{ item.title }}</a>
			</div>
		</nav>
	</aside>
	<section class="container">
		<header class="header user-select-none">
			<div class="header-top">
				<a href="https://github.com/xjh22222228/nav" target="_blank" class="logo">
					<img src="./favicon.png" alt="logo">
				</a>
				<div class="open" ng-class="{active: open}" ng-click="openButton()">
					<i></i>
					<i></i>
					<i></i>
				</div>
			</div>
			<nav class="nav-open">
				<div class="nav-title" ng-repeat="item in nav track by $index">
					<a ng-attr-href="{{ item.hash }}" ng-class="{active: item.hash == hash}" ng-click="hashButton(item.hash)">{{ item.title }}</a>
				</div>
			</nav>
		</header>
		<main class="main">
			<div class="block" ng-repeat="item in nav track by $index" ng-attr-id="{{ item.hash.slice(1) }}">
				<div class="title">{{ item.title }}</div>
				<nav class="main-nav">
					<ul class="nav-ul">
						<li ng-repeat="nav in item.nav track by $index">
							<a ng-attr-href="{{ nav.link }}" target="_blank">
								<div class="top">
									<img ng-attr-src="{{ nav.icon }}" alt="icon" class="icon">
									<em class="name" ng-attr-title="{{ nav.name }}">{{ nav.name }}</em>
								</div>
								<div class="desc">{{ nav.desc }}</div>
							</a>
							<div class="mark user-select-none" ng-show="nav.language.length >= 2">
								<div class="button-box">
									<a ng-attr-href="{{ nav.language[0] }}" class="en" target="_blank">英文</a>
									<a ng-attr-href="{{ nav.language[1] }}" class="zh" target="_blank">中文</a>
								</div>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</main>
		<footer class="footer">
			<div>
				<span>爱分享，爱创造，这里是发现导航 - 新世界</span>
			</div>
			<div>
				<a href="https://github.com/xjh22222228/nav" target="_blank">本站仓库</a>
				<em>|</em>
				<a href="https://github.com/xjh22222228/nav/issues" target="_blank">贡献导航</a>
			</div>
		</footer>
	</section>
</div>
<script src="./bundle.js"></script>
</body>
</html>