.sideimg {
  width: var(--sideImagesWidth, 230px);
  min-width: var(--sideImagesWidth, 230px);
  max-height: calc(100vh - 50px);
  overflow: hidden;
  overflow-y: auto;
  .adsimg {
    display: block;
    width: 100%;
    border-radius: 4px;
  }
  .aditem {
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
  }
}
