<div class="holiday family citems" [style.zoom]="data['zoom']">
  <div class="top" [style.background]="data['topColor']">
    {{ data['title'] }}
  </div>
  <div
    class="box"
    [style.backgroundImage]="data['url'] && 'url(' + data['url'] + ')'"
    [style.backgroundColor]="data['bgColor']"
  >
    <div class="days" [style.color]="data['dayColor']">
      {{ component['dayStr'] }}
    </div>
    <div class="date" [style.color]="data['dateColor']">
      - {{ component['dateStr'] }} -
    </div>
  </div>
</div>
