<section class="app-page user-select-none">
  <header class="header">
    <div class="header-top">
      <img [src]="serviceCommon.settings.favicon" class="logo" alt="logo" />
      <div class="open" [class.active]="open" (click)="handleToggleOpen()">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </div>

    <nav class="nav-open" [class.active]="open">
      <div
        *ngFor="
          let item of serviceCommon.websiteList;
          let i = index;
          trackBy: serviceCommon.trackByItem
        "
        (click)="handleCilckNav(i)"
        [class.active]="serviceCommon.page === i"
        class="nav-title"
      >
        {{ item.title }}
      </div>
    </nav>
  </header>

  <app-search-engine />

  <div class="wrapper" *ngIf="serviceCommon.websiteList[serviceCommon.page]">
    <nav
      class="children-nav"
      *ngIf="serviceCommon.websiteList[serviceCommon.page]?.nav?.length"
    >
      <span
        class="tag"
        *ngFor="
          let item of serviceCommon.websiteList[serviceCommon.page].nav;
          let i = index;
          trackBy: serviceCommon.trackByItem
        "
        [class.active]="serviceCommon.id === i"
        (click)="serviceCommon.handleSidebarNav(i)"
      >
        {{ item.title }}
      </span>
    </nav>
    <div *ngFor="let item of serviceCommon.currentList; index as i">
      <h2 class="block-title" *ngIf="item.title">
        {{ item.title }} x {{ item.nav.length }}
      </h2>

      <div
        style="padding: 0 10px"
        nz-row
        [nzGutter]="[16, 16]"
        [style.display]="item.collapsed ? 'none' : ''"
      >
        <div
          class="gutter-row"
          nz-col
          [nzSpan]="8"
          [nzMd]="12"
          [nzXl]="6"
          [nzXs]="24"
          *ngFor="
            let el of item.nav;
            index as j;
            trackBy: serviceCommon.trackByItemWeb
          "
        >
          <app-card
            [cardStyle]="serviceCommon.settings.appCardStyle"
            [dataSource]="el"
            [indexs]="[serviceCommon.page, serviceCommon.id, i, j]"
            [searchKeyword]="serviceCommon.searchKeyword"
            class="column-border"
          ></app-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer />
</section>
