<div
  class="swiper"
  [id]="swiperId"
  [ngStyle]="{ height: height <= 0 ? '' : height + 'px' }"
>
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      [class.cursor-pointer]="item['url']"
      *ngFor="let item of images; let i = index"
      (click)="jumpService.goUrl($event, item['url'])"
    >
      <img
        class="bgimg"
        [class.h100]="height > 0"
        [src]="item.src"
        draggable="false"
      />
    </div>
  </div>
  <div class="swiper-pagination"></div>

  <ng-content></ng-content>
</div>
