<div>
  <p>TOKEN: {{ token }}</p>
  <p>{{ $t('_devBranch') }}: {{ config.branch }}</p>
  <p>{{ $t('_prevDevTime') }}: {{ date }}</p>
  <p>{{ $t('_curVer') }}: <img [src]="currentVersionSrc" /></p>
  <p>
    {{ $t('_newVer') }}:
    <a href="https://github.com/xjh22222228/nav/releases" target="_blank">
      <img src="https://img.shields.io/github/v/release/xjh22222228/nav" />
    </a>
  </p>
  <p>
    {{ $t('_updateTip') }}
    <a
      href="https://github.com/xjh22222228/nav?tab=readme-ov-file#%E5%8D%87%E7%BA%A7"
      target="_blank"
      >{{ $t('_clickUpdate') }}</a
    >
  </p>
</div>
