<nz-spin nzSimple nzSize="large" class="center" *ngIf="submitting"> </nz-spin>
<div class="center">
  <nz-switch [(ngModel)]="isExportIcon"></nz-switch>
  <span class="ml10">同时导出网站图标，耗时较久</span>
  <p class="mt10" *ngIf="seconds > 0">耗时 {{ seconds }} 秒</p>
  <p class="mt10" *ngIf="countAll > 0">
    正在处理 {{ currentNumber }} / {{ countAll }}
  </p>
</div>
<div class="book-wrapper mt10">
  <div>
    <img
      src="assets/img/bookmark.svg"
      (click)="bookmarksExport()"
      draggable="false"
      class="logo"
    />
    <p style="white-space: nowrap; margin-top: 5px" (click)="bookmarksExport()">
      点我导出
    </p>
  </div>
</div>
