.book-wrapper {
  text-align: center;
  .logo,
  p {
    cursor: pointer;
  }
}
#error-msg {
  white-space: pre-line;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 0 12px;
}
.err {
  opacity: 0;
  &.noopacity {
    opacity: 1;
  }
}
