<nz-spin nzSimple nzSize="large" class="center" *ngIf="submitting"> </nz-spin>
<div class="center">
  <nz-switch [(ngModel)]="isExportIcon"></nz-switch>
  <span class="ml10">{{ $t('_exportIcons') }}</span>
  <p class="mt10" *ngIf="seconds > 0">耗时 {{ seconds }} 秒</p>
  <p class="mt10" *ngIf="countAll > 0">
    {{ $t('_processing') }} {{ currentNumber }} / {{ countAll }}
  </p>
</div>
<div class="book-wrapper mt10">
  <div>
    <img
      src="assets/img/bookmark.svg"
      (click)="bookmarksExport()"
      draggable="false"
      class="logo"
    />
    <p style="white-space: nowrap; margin-top: 5px" (click)="bookmarksExport()">
      {{ $t('_clickExport') }}
    </p>
  </div>
</div>

<div class="err" [class.noopacity]="countAll > 0">
  <h2>{{ $t('_errorIcons') }}</h2>
  <pre id="error-msg"></pre>
</div>
