.title {
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  padding-left: 5px;
  color: #3f51b5;
  font-weight: 500;
  display: flex;
  margin-bottom: 15px;
  user-select: none;
  margin-top: 10px;
  .edit-icon {
    display: none;
    vertical-align: middle;
  }
  &:hover {
    .edit-icon {
      display: inline-block;
    }
  }
  .add-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
  }
}
