.fixbar {
  z-index: 9;
  position: fixed;
  bottom: 60px;
  right: 15px;
  user-select: none;
  &.openFixbar {
    .common-show {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  .wrapper {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    transition: 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      transform: scale(1.2);
    }
    &.common-show {
      visibility: hidden;
      opacity: 0;
    }
  }

  img {
    width: 25px;
    height: 25px;
  }

  i {
    transition: 0.1s linear;
    display: inline-block;
    font-size: 20px;
    color: #999;
  }

  .arrow {
    transform: rotate(180deg);
    cursor: pointer;
    font-weight: bold;
  }

  .collapse-icon {
    transform: rotate(-270deg);
    &.active {
      transform: rotate(-360deg);
    }
  }
}
