<div class="fixbar">
  <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="collapse()">
    <i class="iconfont iconweibiaoti25 collapse" [class.active]="collapsed"></i>
  </div>

  <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="toggleMode()">
    <i class="iconfont icondark dark" *ngIf="!isDark"></i>
    <img class="iconfont icondark" src="assets/img/light.svg" *ngIf="isDark">
  </div>

  <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="scrollTop()">
    <i class="iconfont iconjiantouarrow483 arrow"></i>
  </div>
</div>
