<div class="fixbar">
  <div
    class="wrapper dark-bg dark-border-color dark-action-hover"
    (click)="handleSync()"
    *ngIf="isLogin"
    [class.rotate]="syncLoading"
  >
    <i class="iconfont iconwinfo-icon-tongbu"></i>
  </div>

  <span *ngIf="isLogin" nz-tooltip [nzTooltipTitle]="isEditing.value ? '关闭编辑模式' : '开启编辑模式'">
    <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="toggleEditMode()">
      <i class="iconfont iconsuo" [class.iconunlock]="isEditing.value"></i>
    </div>
  </span>
  
  <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="toggleModal()">
    <i class="iconfont iconchuangjian"></i>
  </div>

  <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="collapse()">
    <i class="iconfont iconweibiaoti25 collapse" [class.active]="collapsed"></i>
  </div>

  <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="toggleMode()">
    <i class="iconfont icondark dark" *ngIf="!isDark"></i>
    <img class="iconfont icondark" src="assets/img/light.svg" *ngIf="isDark">
  </div>

  <div class="wrapper dark-bg dark-border-color dark-action-hover" (click)="scrollTop()">
    <i class="iconfont iconjiantouarrow483 arrow"></i>
  </div>
</div>

<app-create [visible]="showCreateModal" (onCancel)="toggleModal()"></app-create>
