<nz-modal
  [nzWidth]="560"
  [(nzVisible)]="visible"
  [nzTitle]="detail ? $t('_edit') : $t('_add')"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="uploading"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>{{ $t('_webName') }}</nz-form-label>
        <nz-form-control [nzSpan]="20" [nzErrorTip]="$t('_requiredName')">
          <input formControlName="title" nz-input [placeholder]="$t('_webTitle')" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>{{ $t('_webLink') }}</nz-form-label>
        <nz-form-control [nzSpan]="20" [nzErrorTip]="$t('_requiredLink')">
          <input formControlName="url" nz-input placeholder="https://nav3.cn" (blur)="onUrlBlur($event)" />
        </nz-form-control>
      </nz-form-item>

      <div class="row">
        <div class="col">
          <nz-form-item>
            <nz-form-label [nzSpan]="15" nzRequired>{{ $t('_shortcut') }}</nz-form-label>
            <nz-form-control [nzSpan]="9">
              <nz-switch formControlName="top"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label [nzSpan]="15" nzRequired>{{ $t('_onlyOwnVisible') }}</nz-form-label>
            <nz-form-control [nzSpan]="9">
              <nz-switch formControlName="ownVisible"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label [nzSpan]="8">{{ $t('_recommend') }}</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-rate formControlName="rate" nzAllowHalf></nz-rate>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{ $t('_iconAddr') }}</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <nz-input-group [nzPrefix]="prefixIcon" [nzSuffix]="suffixIconSearch">
            <input
              formControlName="icon"
              nz-input
              [placeholder]="$t('_copyUpload')"
              (blur)="onIconBlur($event)"
              (focus)="onIconFocus($event)"
            />
          </nz-input-group>

          <ng-template #prefixIcon>
            <app-logo [src]="iconUrl" [size]="25" *ngIf="iconUrl"></app-logo>
          </ng-template>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="loading" nzTheme="outline" *ngIf="uploading; else loading"></i>
            <ng-template #loading>
              <label id="file">
                <i nz-icon nzType="upload" nzTheme="outline" class="cursor-pointer" [title]="$t('_upload')"></i>
                <input
                  type="file"
                  name="file"
                  (change)="onChangeFile($event)"
                  accept="image/*"
                  class="file-upload"
                >
              </label>
            </ng-template>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{ $t('_webDesc') }}</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <textarea
            formControlName="desc"
            placeholder="发现导航, 精选实用导航网站"
            nz-input
            [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          >
          </textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- more url -->
      <div>
        <nz-form-item *ngFor="let n of urlArr; let idx = index">
          <nz-form-label [nzSpan]="4" [nzNoColon]="true"></nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="addOnAfterTemplate">
              <input [formControlName]="'url' + idx" type="text" nz-input />
            </nz-input-group>
            <ng-template #addOnBeforeTemplate>
              <nz-select style="width: 100px;" [formControlName]="'tagVal' + idx">
                <nz-option
                  *ngFor="let tag of tags"
                  [nzLabel]="tag"
                  [nzValue]="tag"
                >
                </nz-option>
              </nz-select>
            </ng-template>
            <ng-template #addOnAfterTemplate>
              <i
                class="cursor-pointer"
                nz-icon
                nzType="minus"
                nzTheme="outline"
                (click)="lessMoreUrl()"
              >
              </i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item *ngIf="tags.length > 0 && urlArr.length < 3">
        <nz-form-label [nzSpan]="4" [nzNoColon]="true"></nz-form-label>
        <nz-form-control [nzSpan]="20">
          <button nz-button nzType="default" nzBlock (click)="addMoreUrl()">
            <i nz-icon nzType="plus"></i>{{ $t('_continueAdd') }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
