<div class="sim">
  <div class="wallpaper" [ngStyle]="{ 'background-image': 'url(' + posterImageUrl + ')' }">
    <h1 class="title dark-title">{{ title }}</h1>
    <h2 class="description dark-text-active">这里收录多达 <b>{{ totalWeb }}</b> 个优质网站， 助您工作、学习和生活</h2>
    <app-search-engine (onSearch)="onSearch($event)"></app-search-engine>
  </div>

  <nav class="top-nav user-select-none dark-border-color">
    <a 
      *ngFor="let item of websiteList; let i = index;" 
      [class.active]="page === i" 
      [class.dark-text-active]="page === i" 
      class="ripple-btn dark-text"
      (click)="handleCilckTopNav(i)" 
    >
      <app-dropdown delIconStyle="top: -8px;right: -16px;" [oIdx]="i">
        {{ item.title }}
      </app-dropdown>
    </a>
  </nav>

  <div class="wrapper">
    <nav class="sidebar dark-bg" id="sidebar">
      <div *ngIf="websiteList[page]?.nav?.length > 0">
        <div 
          *ngFor="let item of websiteList[page].nav; let i = index" 
          (click)="handleSidebarNav(i)" 
          [class.active]="id === i" 
          [class.dark-item-active]="id === i" 
          class="ripple-btn dark-text"
        >
          <app-dropdown delIconStyle="top: -10px;" [oIdx]="page" [twoIdx]="i">
            {{ item.title }}
          </app-dropdown>
        </div>
      </div>
    </nav>

    <aside class="site-box dark-bg">
      <div *ngFor="let item of currentList; let i=index">
        <div class="nav-wrapper">
          <app-dropdown [oIdx]="page" [twoIdx]="id" [threeIdx]="i">
            <div
              class="title dark-primary dark-border-color"
              *ngIf="item.title"
              (click)="onCollapse(item, i)"
            >
              <app-logo
                [src]="item.icon"
                [name]="item.title"
                colour="#ff4d4f"
              >
              </app-logo>

              <span style="margin-left: 10px;align-self: center;">{{ item.title }} x {{ item.nav.length }}</span>

              <i class="iconfont iconjiantouarrow483 down-arrow" [class.active]="item.collapsed"></i>
            </div>
          </app-dropdown>

          <ul class="ul" *ngIf="!item.collapsed">
            <li *ngFor="let ele of item.nav" class="dark-border-color">
              <app-dropdown [oIdx]="page" [twoIdx]="id" [threeIdx]="i" [fourIdx]="idx">
                <a
                  class="url-box"
                  [href]="ele.url"
                  target="_blank"
                  rel="noopener noreferer"
                >
                  <div class="box-wrapper">
                    <div class="left">
                      <app-logo
                        [src]="ele.icon || item.icon || websiteList[page].nav[id].icon"
                        [name]="ele.name"
                      >
                      </app-logo>
                    </div>
    
                    <div class="right dark-title" [innerHtml]="ele.name" [title]="ele.name"></div>
                  </div>

                  <div class="desc dark-text" [innerHtml]="ele.desc"></div>
                </a>
              </app-dropdown>

              <app-multiple-site [dataSource]="ele"></app-multiple-site>
            </li>
          </ul>
        </div>
      </div>

      <app-no-data *ngIf="currentList.length === 0 || currentList[0].nav.length === 0"></app-no-data>
    </aside>
  </div>
</div>

<app-footer className="sim-footer"></app-footer>
<app-fixbar
  (onCollapse)="onCollapseAll()"
  [collapsed]="collapsed()"
>
</app-fixbar>

<div class="sim-bg dark-bg"></div>
