$width: 1200px;

.sim-bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f0f2f5;
}

.top-nav {
  width: $width;
  margin: 10px auto;
  padding: 10px;
  overflow: none;
  white-space: nowrap;
  border-bottom: 1px solid #eee;
  text-align: center;

  a {
    display: inline-block;
    padding: 10px 15px;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
      text-decoration: none;
    }
  }
}

.sim {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .wallpaper {
    height: 300px;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      color: #fff;
      margin-bottom: 10px;
      font-size: 36px;
    }

    .description {
      text-align: center;
      color: #fff;
      margin-bottom: 10px;
    }
  }

  .wrapper {
    flex: 1;
    position: relative;
    width: $width;
    padding-bottom: 50px;
    margin: 0 auto;

    .sidebar {
      width: 180px;
      height: min-content;
      padding: 10px 0;
      padding-bottom: 0;
      text-align: center;
      float: left;
      background-color: #fff;
      box-shadow: 0 0 1px #ccc;

      &.fix {
        position: fixed;
        top: 10px;
      }

      .ripple-btn {
        padding: 10px 0;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: .1s linear;
        user-select: none;
        font-weight: 500;

        &.active {
          color: #409eff;
          background-color: rgb(231, 241, 253);
        }
      }
    }

    .site-box {
      width: 990px;
      position: relative;
      background-color: #fff;
      margin-left: 30px;
      padding: 15px;
      float: right;
    }
  }
}

::ng-deep .sim-footer  {
  margin-bottom: 10px;

  & > * {
    color: #666 !important;
  }
}
