<img
  *ngIf="src; else noSrc"
  [src]="src"
  class="icon common-icon"
  [ngStyle]="{
    width: size === 0 ? '' : size + 'px',
    height: size === 0 ? '' : size + 'px',
    borderRadius: radius + 'px'
  }"
  draggable="false"
  loading="lazy"
  [alt]="name ? name[0] : ''"
/>

<ng-template #noSrc>
  <div
    class="circle common-icon"
    [ngStyle]="{
      width: size === 0 ? '' : size + 'px',
      height: size === 0 ? '' : size + 'px'
    }"
  >
    {{ name ? name[0] : '' }}
  </div>
</ng-template>
