<div
  class="container"
  *ngIf="dataList.length > 0"
  cdkDropList
  (cdkDropListDropped)="handleDrop($event)"
  cdkDropListOrientation="horizontal"
>
  <div
    class="wrapper"
    [nzTooltipTitle]="item.name"
    nzTooltipPlacement="bottom"
    nz-button
    nz-tooltip
    *ngFor="let item of dataList"
    cdkDrag
    (click)="goUrl(item.url)"
  >
    <div class="logo">
      <app-logo [src]="item.icon" [name]="item.name" [size]="35"></app-logo>
    </div>
    <div
      class="name dark-white"
    >
      {{ item.name }}
    </div>
  </div>
</div>
