.container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  padding: 0 30px;

  .wrapper {
    display: flex;
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    transition: transform .1s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }

  .logo {
    border-radius: 50%;
    margin-bottom: 3px;
  }

  .name {
    width: 60px;
    margin-top: 5px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}