@media (max-width: 768px) {
  .web-list {
    &.overflowScroll .wrapper {
      padding: 0;
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: auto;
    }
  }
}

.web-list {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  padding: 0 10px;
  flex-wrap: wrap;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
