<!-- 网站 -->
<div *ngIf="getEditType() === EditType.isWebsite; else card" class="container">
  <div
    nz-dropdown
    [nzDropdownMenu]="menu"
    class="container"
    [nzDisabled]="objectKeys(dataSource.urls).length <= 0"
  >
    <nz-card
      [nzActions]="isLogin ? [actionSetting, actionEdit, actionEllipsis] : [actionSetting, actionEdit]"
      nzSize="small"
      nzHoverable
      nzType="inner"
    >
      <a [href]="dataSource.url" target="_blank" rel="noreferer noopener">
        <nz-card-meta
          [nzTitle]="dataSource.name"
          [nzDescription]="dataSource.desc"
          [nzAvatar]="avatarTemplate"
        >
        </nz-card-meta>
      </a>
    </nz-card>

    <ng-template #title>
      <h3 [innerHTML]="dataSource.title"></h3>
    </ng-template>
    <ng-template #avatarTemplate>
      <app-logo [src]="dataSource.icon" [name]="dataSource.name"></app-logo>
    </ng-template>
    <ng-template #actionSetting>
      <div nz-tooltip [nzTooltipTitle]="copyUrlDone ? '复制成功' : '复制链接'">
        <i
          nz-icon
          [nzType]="copyUrlDone ? 'check' : 'copy'"
          nzTheme="outline"
          (click)="copyUrl($event, 2)"
          (mouseout)="copyMouseout()"
        >
        </i>
      </div>
    </ng-template>
    <ng-template #actionEdit>
      <div nz-tooltip [nzTooltipTitle]="copyPathDone ? '复制成功' : '分享网站'">
        <i
          nz-icon
          [nzType]="copyPathDone ? 'check' : 'share-alt'"
          nzTheme="outline"
          (click)="copyUrl($event, 1)"
          (mouseout)="copyMouseout()"
        >
        </i>
      </div>
    </ng-template>
    <ng-template #actionEllipsis>
      <i nz-icon nzType="ellipsis" nz-dropdown [nzDropdownMenu]="menu" *ngIf="isLogin"></i>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="clickEdit()">编辑</li>
          <a
            nz-popconfirm
            nzPopconfirmPlacement="rightTop"
            nzOkType="danger"
            nzPopconfirmTitle="您确定要删除吗?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirmDel($event)"
          >
            <li nz-menu-item nzDanger>删除</li>
          </a>
        </ul>
      </nz-dropdown-menu>
    </ng-template>
  </div>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item *ngFor="let key of objectKeys(dataSource.urls)" class="text-align-center">
        <a [href]="dataSource.urls[key]" target="_blank">{{ key }}</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>

<ng-template #card>
  <div
    class="container"
    nz-dropdown
    [nzDropdownMenu]="menu"
    [nzDisabled]="(!isEditing.value || hasKeyword()) && !isLogin"
    [nzClickHide]="false"
  >
    <ng-content></ng-content>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="clickEdit()">编辑</li>
      <a
        *ngIf="isLogin"
        nz-popconfirm
        nzPopconfirmPlacement="rightTop"
        nzOkType="danger"
        nzPopconfirmTitle="您确定要删除吗?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="confirmDel($event)"
      >
        <li nz-menu-item nzDanger>删除</li>
      </a>
    </ul>
  </nz-dropdown-menu>
</ng-template>

<nz-modal
  [(nzVisible)]="showModal"
  nzTitle="修改"
  (nzOnCancel)="toggleModal()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="handleOk()">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>{{ getEditType() === EditType.isWebsite ? '网站名称' : '分类名称'}}</nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="请输入名称">
          <input formControlName="title" nz-input placeholder="发现导航" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="getEditType() === EditType.isWebsite">
        <nz-form-label [nzSpan]="4" nzRequired>网站链接</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <input formControlName="url" nz-input placeholder="https://nav3.cn" (blur)="onUrlBlur($event)" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">图标地址</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <nz-input-group [nzPrefix]="prefixIcon">
            <input formControlName="icon" nz-input placeholder="https://example.com/favicon.png" (blur)="onIconBlur($event)" />
          </nz-input-group>

          <ng-template #prefixIcon>
            <app-logo [src]="iconUrl" [size]="25" *ngIf="iconUrl"></app-logo>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="getEditType() === EditType.isWebsite">
        <nz-form-label [nzSpan]="4">网站描述</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <input formControlName="desc" nz-input placeholder="发现导航, 精选实用导航网站" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
