.container {
  position: relative;
  height: 100%;

  .desc {
    color: rgba(0,0,0,.45);
  }
}

::ng-deep {
  .gutter-row .ant-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
