.container {
  position: relative;
  height: 100%;
  .breadcrumb1 {
    padding: 0 0 0 8px;
    font-size: 12px;
    color: #666;
    .slash {
      margin: 0 4px;
    }
  }
  .desc {
    color: rgba(0, 0, 0, 0.45);
    word-break: break-all;
    white-space: pre-wrap;
  }
  .title {
    white-space: normal;
    word-break: break-all;
  }
  .stop-icon {
    z-index: 3;
    color: red;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

.standard {
  $padding: 8px;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  transition: all 0.2s ease-out;
  background-color: #fff;
  &:hover {
    transform: translate(0, -3px);
  }
  .rate {
    padding: 0 $padding;
  }
  .middle {
    flex: 1;
  }
  .top {
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 0 $padding;
    .title {
      margin-left: $padding;
      font-weight: 500;
      color: #000;
    }
  }
  .desc {
    padding: $padding $padding 0;
    margin-bottom: 5px;
  }
  .tagbox {
    display: flex;
    padding: 0 $padding;
    flex-wrap: wrap;
  }
  .tag-item {
    margin: 6px 6px 0 0;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    color: #fff;
    a {
      color: currentColor;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .actionbar {
    display: flex;
    border-top: 1px solid #eee;
    padding: 8px 0;
    margin-top: 10px;
    .action-item {
      flex: 1;
      text-align: center;
      font-size: 16px;
      color: #999;
      cursor: pointer;
      &:hover {
        color: #1890ff;
      }
      &:not(:nth-last-child(1)) {
        border-right: 1px solid #eee;
      }
    }
  }
}

.example2 {
  background-color: #fff;
  padding: 8px 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: all 0.15s linear;
  color: #000;
  display: block;
  &:hover {
    border: 1px solid #78b7fa;
    transform: translateY(-3px);
    .title {
      color: #007bff;
    }
  }
  .breadcrumb1 {
    padding: 0 0 4px 0;
  }
  .wrapper {
    display: flex;
  }
  .right-box {
    flex: 1;
    width: 0;
    margin-left: 12px;
  }
  .desc {
    margin: 0;
    font-size: 12px;
  }
}

// 其他主题下卡片不明显
::ng-deep .column-border {
  .column2 {
    border: 1px solid transparent !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
.column2 {
  background-color: #fff;
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
  transition: all 0.15s linear;
  color: #000;
  display: block;
  .breadcrumb1 {
    padding: 0 0 4px 0;
  }
  &:hover {
    background-color: #f2f3f5;
    .action-btn {
      display: block;
    }
  }
  .title-bar {
    display: flex;
    align-items: center;
  }
  .right-box {
    margin-top: 6px;
  }
  .title {
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
  }
  .desc {
    margin: 0;
    font-size: 12px;
  }
  .bottom-bar {
    display: flex;
    margin-top: 4px;
  }
  .tagbox {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    a {
      color: #fff;
    }
  }
  .tag-item {
    margin-right: 6px;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    &:hover {
      opacity: 0.8;
    }
  }
  .rate2 {
    color: #8a919f;
    margin-right: 10px;
  }
  .action-btn {
    margin-right: 4px;
    color: #8a919f;
    font-size: 12px;
    display: none;
    cursor: pointer;
    &:hover {
      color: #666;
    }
  }
}

::ng-deep {
  .gutter-row .ant-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// common
.common2 {
  background-color: #fff;
  border: 1px solid #eee;
  transition: transform 0.1s linear;
  &:hover {
    transform: translate(0, -3px);
  }
  a {
    color: #333;
  }

  .item-list {
    z-index: 111;
    position: relative;
    overflow: hidden;
  }
  .tagbox {
    display: flex;
    padding: 0 8px 8px 8px;
    flex-wrap: wrap;
  }
  .tag-item {
    margin: 6px 6px 0 0;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    color: #fff;
    a {
      color: currentColor;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .name {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 4px;
  }

  .desc {
    padding: 10px;
    border-top: 1px solid #eee;
    margin-top: 8px;
    margin-bottom: 0;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 12px;
  }

  .top {
    padding: 10px;
    display: flex;
    align-items: center;
  }
}
