.shortcut {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  text-align: center;
  background-color: rgba(0, 0, 0, .02);

  .title {
    font-size: 30px;
    font-weight: bold;
  }
}
