#xiejiahe {

  &.app {
    color: #000;
  }

  .footer {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;

    .total {
      margin-left: 5px;
      vertical-align: super;
      font-weight: bold;
    }

    .runtime {
      font-weight: bold;
    }
  }
}
