#file {
  cursor: pointer;
  input {
    display: none;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
}
.preview {
  width: 300px;
}
.save-tip {
  margin-top: 10px;
  color: #f50;
  font-weight: bold;
}
.divider {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #eee;
}
.title {
  margin-bottom: 20px;
}
.sim-ban {
  img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
  ::ng-deep .anticon {
    font-size: 30px;
  }
}
.logo-input {
  display: block !important;
  width: 518px;
  max-width: 100%;
  margin-top: 5px;
}
.bottom-bar {
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 10px 200px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  margin-top: 80px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
