.desc {
  width: 300px;
  white-space: pre-wrap;
  word-break: break-all;
}
.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.tip2 {
  color: #f50;
  font-weight: bold;
  margin-top: 10px;
}
.admin {
  ::ng-deep .ant-table {
    max-height: 600px;
    overflow: auto;
  }
}
