.loading {
  z-index: 6666;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(251, 251, 251);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
