.pricing {
  padding: 0 12px;
  background-color: #bfdfff;
  background-image: linear-gradient(
    180deg,
    #bfdfff 0%,
    #ebd7ff 50%,
    #ffffff 100%
  );
  .pricingBox,
  .desc {
    max-width: 100%;
    width: 1050px;
    margin: 0 auto;
  }
}
.limited {
  position: absolute;
  bottom: -25px;
  font-size: 10px;
  text-align: center;
  width: 100%;
  color: #f50;
}
