.footer {
  text-align: center;
  margin-top: 5px;
  color: #fff;

  .total {
    font-weight: bold;
  }

  .runtime {
    font-weight: bold;
  }

  .copyright {
    color: #fff;
    margin-bottom: 5px;
  }
}
