<div
  class="search-engine"
  *ngIf="searchEngineList && searchEngineList.length > 0"
>
  <img
    *ngIf="showLogo && logoImage"
    class="pointer-events-none mb-4 select-none"
    [src]="logoImage"
    [ngStyle]="{ maxHeight: search.height + 'px' }"
  />

  <div
    class="input-wrapper dark-bg dark-border-color"
    [class.removeAddon]="currentEngine.url"
  >
    <nz-input-group
      [nzPrefix]="prefixIcon"
      [nzSuffix]="suffixIcon"
      [nzSize]="size"
      [nzAddOnBefore]="addOnBeforeTemplate"
    >
      <input
        type="text"
        nz-input
        [placeholder]="currentEngine.placeholder || ''"
        [(ngModel)]="keyword"
        autofocus
        id="search-engine-input"
        (keyup)="onKey($event)"
        autocomplete="off"
        #input
      />
    </nz-input-group>
    <ng-template #prefixIcon>
      <div
        class="left-icon"
        [nzPopoverTrigger]="searchEngineList.length > 1 ? 'click' : null"
        [ngStyle]="{ 'background-image': 'url(' + currentEngine.icon + ')' }"
        nz-popover
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate"
      ></div>

      <ng-template #contentTemplate>
        <div class="engine-main">
          <div
            class="item ellipsis dark-bg-gary dark-item-hover"
            *ngFor="let item of searchEngineList; let i = index"
            (click)="clickEngineItem(i)"
          >
            <app-logo
              *ngIf="item.icon"
              [src]="item.icon"
              [name]="item.name"
              [size]="20"
            />
            <span class="name2 dark-text ellipsis">{{ item.name }}</span>
          </div>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #suffixIcon>
      <i
        class="search-icon iconfont iconsousuo dark-text"
        (click)="triggerSearch()"
      ></i>
    </ng-template>
    <ng-template #addOnBeforeTemplate>
      <nz-select
        [(ngModel)]="searchTypeValue"
        *ngIf="!currentEngine.url"
        (ngModelChange)="onSelectChange()"
      >
        <nz-option
          [nzLabel]="$t('_default')"
          [nzValue]="SearchType.All"
        ></nz-option>
        <nz-option
          [nzLabel]="$t('_class')"
          [nzValue]="SearchType.Class"
        ></nz-option>
        <nz-option
          [nzLabel]="$t('_tag')"
          [nzValue]="SearchType.Tag"
        ></nz-option>
        <nz-option
          [nzLabel]="$t('_title')"
          [nzValue]="SearchType.Title"
        ></nz-option>
        <nz-option
          [nzLabel]="$t('_desc')"
          [nzValue]="SearchType.Desc"
        ></nz-option>
        <nz-option
          [nzLabel]="$t('_link')"
          [nzValue]="SearchType.Url"
        ></nz-option>
        <nz-option
          [nzLabel]="$t('_current')"
          [nzValue]="SearchType.Current"
        ></nz-option>
        <nz-option
          [nzLabel]="$t('_quick')"
          [nzValue]="SearchType.Quick"
        ></nz-option>
        <nz-option
          *ngIf="isLogin"
          nzLabel="ID"
          [nzValue]="SearchType.Id"
        ></nz-option>
      </nz-select>
    </ng-template>
  </div>
</div>
