<nz-spin nzTip="Loading..." [nzSpinning]="submitting">
  <div *ngIf="!isPermission" class="center">
    <input
      nz-input
      [placeholder]="$t('_inputAuthCode')"
      [(ngModel)]="authCode"
      autofocus
    />
    <div class="text-left">
      <button
        class="mt10"
        nz-button
        nzType="primary"
        (click)="handleSubmitAuthCode()"
        [nzLoading]="submitting"
      >
        {{ $t('_save') }}
      </button>
    </div>
  </div>

  <div *ngIf="isPermission">
    <div class="mb10 mt10">
      {{ $t('_bindDomain') }}
    </div>
    <input nz-input placeholder="example.cn,example.com" [(ngModel)]="url" />
    <button
      nz-button
      nzType="primary"
      (click)="handleSave()"
      [nzLoading]="submitting"
      class="mt10"
    >
      {{ $t('_save') }}
    </button>
    <button
      nz-button
      nzType="primary"
      nzDanger
      (click)="logoutAuthCode()"
      [nzLoading]="submitting"
      class="mt10 ml10"
    >
      {{ $t('_logoutAuthCode') }}
    </button>
  </div>
</nz-spin>
