<nz-spin nzTip="Loading..." [nzSpinning]="submitting">
  <div *ngIf="!isPermission" class="center">
    <input
      nz-input
      [placeholder]="$t('_inputAuthCode')"
      [(ngModel)]="authCode"
      autofocus
    />
    <button
      class="mt10"
      nz-button
      nzType="primary"
      (click)="handleSubmitAuthCode()"
      [nzLoading]="submitting"
    >
      {{ $t('_save') }}
    </button>
    <div class="mt10">
      <img
        src="https://cdn.jsdelivr.net/gh/xjh22222228/public@gh-pages/nav/support2.svg"
        class="poster"
      />
    </div>
  </div>

  <div *ngIf="isPermission">
    <div class="mb10 mt10">
      绑定域名，多个以逗号分隔，不要带协议如：example.com,xjh22222228.github.io
    </div>
    <input nz-input placeholder="example.cn,example.com" [(ngModel)]="url" />
    <button
      nz-button
      nzType="primary"
      (click)="handleSave()"
      [nzLoading]="submitting"
      class="mt10"
    >
      {{ $t('_save') }}
    </button>
    <button
      nz-button
      nzType="primary"
      nzDanger
      (click)="logoutAuthCode()"
      [nzLoading]="submitting"
      class="mt10 ml10"
    >
      {{ $t('_logoutAuthCode') }}
    </button>
  </div>
</nz-spin>
