.offwork {
  pointer-events: none;
  position: relative;
  width: 170px;
  height: var(--componentHeight);
  max-height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  background-color: #fff;
  &.rest {
    .title {
      font-size: 22px;
      color: #666;
    }
  }
  .title {
    margin-top: 20px;
    z-index: 2;
    position: relative;
    font-size: 14px;
    color: gray;
    text-align: center;
  }
  .img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .coutdown {
    z-index: 2;
    position: relative;
    font-size: 24px;
    color: #666;
  }
}
