<div
  class="offwork family citems"
  [class.rest]="isRest"
  [style.zoom]="component['zoom']"
>
  <div class="title">
    {{ isRest ? data['restTitle'] : data['workTitle'] }}
  </div>
  <div class="coutdown" *ngIf="!isRest">{{ countdownStr }}</div>
  <img
    *ngIf="isRest; else other"
    src="https://gcore.jsdelivr.net/gh/xjh22222228/public@gh-pages/nav/rest.svg"
    class="img"
  />
  <ng-template #other>
    <img
      src="https://gcore.jsdelivr.net/gh/xjh22222228/public@gh-pages/nav/rest.svg"
      class="img"
    />
  </ng-template>
</div>
