<nz-modal
  [(nzVisible)]="visible"
  [nzTitle]="$t('_authLogin')"
  [nzOkLoading]="submitting"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="login()"
>
  <ng-container *nzModalContent>
    <p>{{ $t('_inputTokenMsg') }}</p>
    <input
      autofocus
      nz-input
      [(ngModel)]="token"
      autofocus
      (keyup)="onKey($event)"
      #input
      [placeholder]="isSelfDevelop ? 'Password' : 'Token'"
    />
    <div class="mt-4" *ngIf="!isSelfDevelop && showImgToken">
      <input
        nz-input
        [(ngModel)]="imageToken"
        autofocus
        (keyup)="onKey($event)"
        placeholder="Image token"
      />
    </div>
    <p *ngIf="!isSelfDevelop" class="!mt-2">
      {{ $t('_getToken')
      }}<a
        href="https://github.com/xjh22222228/nav#%E9%83%A8%E7%BD%B2"
        target="_blank"
      >
        {{ $t('_readDoc') }}</a
      >
    </p>
  </ng-container>
</nz-modal>
