<nz-modal
  [(nzVisible)]="visible"
  [nzTitle]="$t('_authLogin')"
  [nzOkLoading]="submiting"
  (nzOnCancel)="hanldeCancel()"
  (nzOnOk)="login()"
>
  <ng-container *nzModalContent>
    <p>{{ $t('_inputTokenMsg') }}</p>
    <input
      id="loginInput"
      autofocus
      nz-input
      [(ngModel)]="token"
      autofocus
      (keyup)="onKey($event)"
    />
    <p *ngIf="!isSelfDevelop" style="margin-top: 15px">
      {{ $t('_getToken')
      }}<a
        href="https://github.com/xjh22222228/nav#%E9%83%A8%E7%BD%B2"
        target="_blank"
      >
        {{ $t('_readDoc') }}</a
      >
    </p>
  </ng-container>
</nz-modal>
