.html {
  position: relative;
  height: var(--componentHeight) !important;
  max-height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-wrap: break-word;
}
