.html {
  position: relative;
  width: var(--componentHeight);
  height: var(--componentHeight);
  max-height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
