/*! https://github.com/xjh22222228/nav */
@import "./dark.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font: 14px/1.5 -apple-system,BlinkSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helevetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","Source Han Sans CN",sans-serif;
  font-size: 14px;
  color: #333;
}

footer,
header,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

a,
a:link {
  text-decoration: none;
}

h2 {
  font-size: 16px;
}

img,
iframe {
  border: none;
}

button,
input,
textarea {
  font-size: 100%;
}

input[type="text"],
button {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #e1e1e1;
}

i,
em {
  font-style: normal;
}
.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.white-space-nowrap {
  white-space: nowrap;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.border-none {
  border: none;
}
.pointer-events-none {
  pointer-events: none;
}
.overflow-hidden {
  overflow: hidden;
}
.touch-active:active {
  background: rgba(0, 0, 0, .2) !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* 搜索高亮关键字 */
b {
  color: #f50 !important;
}

// 折叠箭头
.down-arrow {
  align-self: center;
  margin-left: 15px;
  cursor: pointer;
  transition: .1s linear;
  color: #666;

  &.active {
    transform: rotate(-90deg);
  }
}

.has-ripple{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.ripple{display:block;position:absolute;pointer-events:none;border-radius:50%;-webkit-transform:scale(0);-o-transform:scale(0);transform:scale(0);background:#fff;opacity:1}.ripple-animate{-webkit-animation:ripple;-o-animation:ripple;animation:ripple}@-webkit-keyframes ripple{100%{opacity:0;-webkit-transform:scale(2);transform:scale(2)}}@-o-keyframes ripple{100%{opacity:0;-o-transform:scale(2);transform:scale(2)}}@keyframes ripple{100%{opacity:0;transform:scale(2)}}
