// Copyright @ 2018-present xiejiahe. All rights reserved.
// See https://github.com/xjh22222228/nav

// <html>
.dark-container {
  .dark {
    &-primary {
      color: #58a6ff !important;
      font-weight: 600;
    }

    &-title {
      color: #c9d1d9 !important;
      font-weight: 600 !important;
    }

    &-white {
      color: #fff !important;
      &-700 {
        color: rgba(255, 255, 255, 0.7) !important;
      }
    }

    &-shadow {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.1) !important;
    }

    &-bg {
      background-color: #12171e !important;
    }

    &-bg-gary {
      background-color: #21262d !important;
    }

    &-bg-gary2 {
      background-color: rgb(53, 54, 58) !important;
    }

    &-bg-deep {
      background-color: #000 !important;
    }

    &-text {
      color: #969ca4 !important;
    }

    &-text-active {
      color: #c9d1d9 !important;
      font-weight: 600;
    }

    &-border-color {
      border-color: #30363d !important;

      &:after,
      &:before {
        border-color: transparent !important;
      }
    }

    &-border-color2 {
      border-color: rgba(255, 255, 255, 0.05) !important;
    }

    &-item-active {
      background-color: #21262d !important;
      border-color: #21262d !important;
      color: #c9d1d9 !important;
      font-weight: 600;
    }

    @media (any-hover: hover) {
      &-hover {
        &:hover:not(.active) {
          background-color: #21262d !important;
        }
      }
      &-hover-text {
        &:hover {
          color: #fff !important;
        }
      }

      &-item-hover:hover {
        background-color: #30363d !important;
        border: 1px solid #8b949e !important;
      }

      // fix-bar
      &-action-hover:hover {
        background-color: #c9d1d9 !important;
      }
    }
  }
}
