.cimage {
  position: relative;
  width: 170px;
  height: var(--componentHeight);
  max-height: 100%;
  border-radius: 12px;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-size: cover;
  .text {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
  }
}
