.over-item {
  cursor: pointer;
  margin: 0;
  padding: 7px 16px;
  text-align: center;
  &.moreActive {
    font-weight: bold !important;
    color: #08c;
  }
}

.more-btn {
  z-index: 11; // 比Github多1
  position: relative;
  cursor: pointer;
}
